doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        title Project homepage
        link(rel='stylesheet', href='../node_modules/normalize.css/normalize.css')
        link(rel='stylesheet', href='../tasks/css/style.css')
    body
        div(class='container')
            div(class='containerInner')
                h1 Project homepage
                div(class='wrapper')
                    include homepage