
mixin generateTemplate(modules)
    ul
        each module in modules
            li
                if module.path
                    h3
                        a(href=module.path)= module.title
                else
                    h3= module.title

                if module.description
                    p= module.description

                if module.children
                    mixin generateTemplate(module.children)

+generateTemplate(modules)
